# Dependency directories
/node_modules

# Production build
/build

# Log files
/*.log

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache files
.cache/
